<div class="dashboard-container">
  <aside class="sidebar">
    <h3>HOD Panel</h3>
    <ul>
      <li (click)="navigate('add-faculty')">Add Faculty</li>
      <li (click)="navigate('view-faculty')">View Faculties</li>
      <li (click)="navigate('add-device')">Add Device</li>
      <li (click)="navigate('view-device')">View Devices</li>
      <li (click)="navigate('add-log')">Add Log</li>
      <li (click)="navigate('view-logs')">View Logs</li>
    </ul>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
